<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
</head>
<body>

<h3>Редактирование заказа:</h3>
<div th:each="order : ${orders}">
    <form th:method="POST" th:action="@{/editOrder/{id}(id=${orders.getId()})}" th:object="${orders}"  enctype="multipart/form-data">
    <h3 th:text="'Заказ № ' + ${order.getNumber()}" th:value="${order.getNumber()}"></h3>
    <p th:text="'Заказчик: ' + ${order.getPerson().getLogin()}" th:value="${order.getPerson().getLogin()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p th:value="${orders.getId()}"></p>
    <p th:value="${orders.getPerson().getId()}"></p>
    <p th:value="${orders.getProduct()}"></p>
    <p th:value="${orders.getCount()}"></p>
    <p th:value="${orders.getPrice()}"></p>

<div>
    <label for="status">Изменить статус заказа:</label>
    <select name="status" id="status">
        <option th:each="statusOpt : ${T(com.example.attestation.enumm.Status).values()}" th:text="${statusOpt}" th:value="${statusOpt}"></option>
    </select>
    <br>
    <input type="submit" value="Редактировать">
    <hr>
</div>
</form>
</div>
</body>
</html>